@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container{
    max-width: 1444px;
    margin: 0 auto;
    
}

.header-title{
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
    margin-left: 120px;
    
   
    
   
}
.display-flex{
    display: flex;
    align-items: center;
    
    
    
}
.nav-bar{
    gap: 34px;
    margin-right: 120px;
    
}
.nav-item{
    list-style: none;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    
  
    
}
.nav-links a{
    text-decoration: none;
    color: #3A3A3A;
    
   }

.nav-links{
    gap: 50px;
    margin-left: auto;
   
    
}
.nav-icon{
    height:36px;
    width: 36px;
    gap: 34px;
}
.focus-card{

    margin-top: 285px;
    margin-right: 120px;
    width: 600px;
    height: 240px;
}
.focus-title{
    font-size: 52px;
    font-weight: 600;
    color: #3A3A3A;
}
.Description{
    font-size: 16px;
    font-weight: 600;
    columns: #3A3A3A;
    gap: 16px;

}
.btn-1{
    width: 196px;
    height: 44px;
    padding: 24px 10px;
    border-radius: 41px;
    background-color: #E02C6D;
    color: #FFFFFF;
}

  .camera-parent {
    width: ;
  }
    
    
   

.camera-parent img{

    width: 100%;
}

.nav-container{
    margin-top: 95px;
}

@media (max-width: 768px) {
  .camera-parent {
    flex-direction: column;
    text-align: center;
  }

  .image {
    order: -1;          /* 👈 ক্যামেরা ছবি উপরে */
    margin-bottom: 20px;
  }
}








